body { color: black; background: #15352a;
}
.judul { z-index: -99; color:#fff; background: #6a8c7e;}
.item { padding: 10px;}
.img {width: 100%; height: auto; }

.card { background-position:center center; overflow:hidden;   position: relative;
 box-shadow:2px 5px 10px rgba(0,0,0,0.4);
}
.card .svgImg { width: 100%; height: auto; min-width: 50px;

}

.content{ color: #000;
background: #fff;
/* padding: 20px 30px; */
 margin: 0;
font-size: 1.05em; line-height: 1.5em; }

.icon-menu { display: block; width: 100%; }
.icon-menu a { float:left; display: block;  text-align: center;
   padding: 10px;  transition: all 0.3s ease; width: 33%;
   color:#2A4037;

     }

.icon-bars { display: block; width: 100%; position: fixed; bottom: 0; left: 0;  z-index: 100; background: #fff;
  border-top:  1px solid #15352a;
}
.icon-bars a { text-align: center;  width: 20%; display: table; table-layout: fixed; float:left;
  color:#15352a;
}
.icon-bars a:hover{ background:#3E5F52; color:white; }
.fred { height: 50px; width: 50px; padding: 5px 5px; min-width: 30px; fill:#15352a;}
.fred:hover{ fill:white; }

.svgImg { fill:#15352a;}



#submit {
height: 50px;
width:100%;
padding: 5px 5px;
}


@media (max-width: 480px) {
.page{ margin:0 auto; width: 100%; }
[class*='col-'] { width: 33%; display: table; table-layout: fixed; }
.navbar .nah { width: 20%; display: table; table-layout: fixed; }

}
