[class*='col-'] { float: left; padding: 15px; }
.col-1-1 { width: 100%; }
.col-1-2 { width: 50%; }
.col-1-3 { width: 33.33%; }
.col-1-4 { width: 25%; }
.col-1-6 { width: 16.66%; }
.col-1-8 { width: 12.5%; }
.col-2-3 { width: 66.66%; }
.col-3-4 { width: 75%; }

.row { width: 100%; display: table; table-layout: fixed; }
/* .row::after { content: ""; clear: both; display: table; } */
