* { box-sizing: border-box; }
a {  text-decoration: none;}
body { color: #15352a; background: white;}

input, textarea, label, select {display:inline-block; box-sizing:border-box;width:100%;padding:10px;border:1px solid #ccc; }
input[type=submit], button, input[type=button],.button { width:auto;
color:white; background:#072d3a; padding:12px 20px; border:none; border-radius:4px; cursor:pointer; margin:2px; }
label { border:none;}
input[type=radio]{width:auto; }

.row{width: 100%;}
.row::after { content: ""; clear: both; display: block; }

.left { float: left; }
.right { float: right; }

.profile { display: flex; align-items: center; height: auto; margin: 20px 0;}
.profile img { width: 50px; height: 50px; object-fit: cover;  border-radius: 50%;  }

.card { box-shadow:2px 5px 10px rgba(0,0,0,0.4);}
.card p{text-align: left; padding: 10px;}
.card input{width:100%;}

.content{ color: #000;   margin: 0; font-size: 1.05em; line-height: 1.5em; }

.list-menu { width: 100%; overflow: hidden;}
.list-menu a { float:left;  padding: 5px;  width: 100%;}
.list-menu .svgImg { width: 50px; height: auto; padding:  10px;  }
.list-menu .card {  border-radius: 10px; }

.footer { position: fixed; bottom: 0;  z-index: 100; background: #fff; border-top:  1px solid #15352a;   }

.menu { width: 100%; overflow: hidden;}
.menu a { float:left; text-align: center; padding: 10px;  transition: all 0.3s ease; }
.menu a.svgImg { fill:#15352a;}

.footer .menu a { width: 25%;}
.content .menu a { width: 50%;}



.bar { position: fixed; bottom: 0; left: 0;  z-index: 100; background: #fff; border-top:  1px solid #15352a;   }
.bar a { padding: 10px;  width: 25%; }
.bar a:hover{ background:#3E5F52; color:white; }

.svgImg { width: 100%; height: auto; min-width: 50px; fill:#15352a;}

.svgImg50 { width: 50px; height: 50px; min-width: 30px; padding: 5px 5px;}
.fwhite { fill:white;}
.fgreen { fill:#15352a;}
.fgreen:hover{ fill:white; }

#submit { height: 50px; width:100%;padding: 5px 5px;}

 .badge {position:relative; }
.badge[data-badge]:after {
content:attr(data-badge);
position:absolute;
/* top:5px; */
right:10px;
font-size:.6em;
background:red;
color:white;
width:20px; height:20px;
text-align:center;
line-height:20px;
border-radius:50%;
box-shadow:0 0 1px #333;
}

.slider {text-align:center; width:100%;margin:0 auto;position:relative;overflow:hidden;box-shadow:2px 5px 10px rgba(0,0,0,0.4);}
.slider .prev, .slider .next{ position:absolute; top:50%; transform:translateY(-50%);font-size:1.5em;padding:15px 10px; border-radius:5px;}
.slider .prev:hover, .slider .next:hover {background:white;transition:0.3s;}
.slider .dot{display:inline-block;background:grey;padding:8px;border-radius:50%;margin:10px 5px;}
.slider .prev{ left:10px;}
.slider .next{ right:10px;}

@media (max-width: 480px) {
.page{ margin:0 auto; width: 100%; }
}
