img{
  width: 200px; height: auto;
}

hr { height: 6px; border: none; background: rgba(0, 0, 0, 0.1);}
hr:last-child { margin-right: 60%;}
hr.image { padding-bottom: 50%;}

.modal {
  display: block;; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
