.bar { height: auto; text-align: center; line-height: 30px; }
.bar { width:100%; z-index: 1; }
.bar ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
.bar li {float: left; }
.btn-small {padding:5px 15px;  }
