* { box-sizing: border-box; }
a {  text-decoration: none;}
body { color: white; background: #15352a;}
.row::after { content: ""; clear: both; display: block; }

.left { float: left; }
.right {  float: right; }
.right .svgImg { fill:white;}


.profile { display: flex; align-items: center; height: auto; margin: 20px 0;}
.profile img { width: 50px; height: 50px; object-fit: cover;  border-radius: 50%;  }

.card { background-position:center center; overflow:hidden;  position: relative;
box-shadow:2px 5px 10px rgba(0,0,0,0.4); background: #fff;
}
.card .svgImg { width: 100%; height: auto; min-width: 50px;}
.content{ color: #000;   margin: 0; font-size: 1.05em; line-height: 1.5em; }

.list-menu { width: 100%; overflow: hidden;}
.list-menu a { float:left;  padding: 5px;  width: 100%;}
.list-menu .svgImg { width: 50px; height: auto; padding:  10px;  }
.list-menu .card {  border-radius: 10px; }


.icon-menu { width: 100%; overflow: hidden;}
.icon-menu a { float:left; text-align: center; padding: 10px;  transition: all 0.3s ease; width: 33%;
}


.bar { position: fixed; bottom: 0; left: 0;  z-index: 100; background: #fff; border-top:  1px solid #15352a;   }
.bar a { padding: 10px;  width: 25%; }
.bar a:hover{ background:#3E5F52; color:white; }

.notif { height: 50px; width: 50px; padding: 5px 5px; min-width: 30px; fill:white;}

.fred { height: 50px; width: 50px; padding: 5px 5px; min-width: 30px; fill:#15352a;}
.fred:hover{ fill:white; }
.svgImg { fill:#15352a;}

#submit { height: 50px; width:100%;padding: 5px 5px;}

 .badge {position:relative; }
.badge[data-badge]:after {
content:attr(data-badge);
position:absolute;
/* top:5px; */
right:10px;
font-size:.6em;
background:red;
color:white;
width:20px; height:20px;
text-align:center;
line-height:20px;
border-radius:50%;
box-shadow:0 0 1px #333;
}

.slider {text-align:center; width:100%;margin:0 auto;position:relative;overflow:hidden;box-shadow:2px 5px 10px rgba(0,0,0,0.4);}
.slider .prev, .slider .next{ position:absolute; top:50%; transform:translateY(-50%);font-size:1.5em;padding:15px 10px; border-radius:5px;}
.slider .prev:hover, .slider .next:hover {background:white;transition:0.3s;}
.slider .dot{display:inline-block;background:grey;padding:8px;border-radius:50%;margin:10px 5px;}
.slider .prev{ left:10px;}
.slider .next{ right:10px;}

@media (max-width: 480px) {
.page{ margin:0 auto; width: 100%; }
}
