.words { color: #D5EAF5; font-size: 0; line-height: 1; }
.words span {color: #2e597b; font-size: 5rem; display: inline-block; animation: move 3s ease-in-out infinite; }
.bg{   top:0; left:0; margin:0; width: 100%; height: 100%; position: fixed; z-index: -100; }

 @keyframes move {
 0% { transform: translate(-30%, 0); }
 50% { text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75); }
 100% { transform: translate(30%, 0); }
 }

 .words span:nth-child(1) { animation-delay: 0.5s; }
 .words span:nth-child(2) { animation-delay: 1s; }
 .words span:nth-child(3) { animation-delay: 1.5s; }
 .words span:nth-child(4) { animation-delay: 2s; }
 .words span:nth-child(5) { animation-delay: 2.5s; }
 .words span:nth-child(6) { animation-delay: 3s; }

 .circles{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 .circles li{
     position: absolute;
     display: block;
     list-style: none;
     width: 20px;
     height: 20px;
     background: rgba(255, 255, 255, 0.5);
     animation: animate 25s linear infinite;
     bottom: -150px;

 }

 .circles li:nth-child(1){
     left: 25%;
     width: 80px;
     height: 80px;
     animation-delay: 0s;
 }


 .circles li:nth-child(2){
     left: 10%;
     width: 20px;
     height: 20px;
     animation-delay: 2s;
     animation-duration: 12s;
 }

 .circles li:nth-child(3){
     left: 70%;
     width: 20px;
     height: 20px;
     animation-delay: 4s;
 }

 .circles li:nth-child(4){
     left: 40%;
     width: 60px;
     height: 60px;
     animation-delay: 0s;
     animation-duration: 18s;
 }

 .circles li:nth-child(5){
     left: 65%;
     width: 20px;
     height: 20px;
     animation-delay: 0s;
 }

 .circles li:nth-child(6){
     left: 75%;
     width: 110px;
     height: 110px;
     animation-delay: 3s;
 }

 .circles li:nth-child(7){
     left: 35%;
     width: 150px;
     height: 150px;
     animation-delay: 7s;
 }

 .circles li:nth-child(8){
     left: 50%;
     width: 25px;
     height: 25px;
     animation-delay: 15s;
     animation-duration: 45s;
 }

 .circles li:nth-child(9){
     left: 20%;
     width: 15px;
     height: 15px;
     animation-delay: 2s;
     animation-duration: 35s;
 }

 .circles li:nth-child(10){
     left: 85%;
     width: 150px;
     height: 150px;
     animation-delay: 0s;
     animation-duration: 11s;
 }



 @keyframes animate {

     0%{
         transform: translateY(0) rotate(0deg);
         opacity: 1;
         border-radius: 0;
     }

     100%{
         transform: translateY(-1000px) rotate(720deg);
         opacity: 0;
         border-radius: 50%;
     }

 }
