body {background-color: #2e597b;  margin:0 auto;  color: #000;  padding: 60px 10px 10px 10px;}
input {box-sizing:border-box;width:100%;padding:10px;border:1px solid #ccc; }
textarea {box-sizing:border-box; width:100%;padding:10px;border:1px solid #ccc; }
.page{ margin:0 auto;  width: 80%; background-color: #f2f2f2; }
