* { box-sizing: border-box; }
body {
font-size:16px;
background-color: #2e597b;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
width: 100%;
margin:0 auto;
color: #000;
padding: 60px 10px 10px 10px;
font-family: "FontAwesome";
}

input[type=text], textarea {box-sizing:border-box;width:100%;padding:10px;border:1px solid #ccc; }
input[type=submit], button, input[type=button],.button {
color:white; background:#072d3a; padding:12px 20px; border:none; border-radius:4px; cursor:pointer; margin:2px; }
label { padding: 8px; }
img {width: 100%; height: auto; }


.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.img {width:100%; height:250px; background-position:center center;
overflow:hidden; border:1px solid black; background-image: var(--bg);
position: relative; background-size: cover;}

.imageHolder { position: relative; width: 100%; height: auto; }
/* .imageHolder .caption { position:absolute; bottom: 0; left: 0; right: 0;
background: rgba(0,0,0,0.7); text-align: center; color: #fff; padding: 10px; z-index: 100;} */
.imageHolder .caption {
position:absolute;
bottom: 0; left: 0; right: 0;
background: rgba(0,0,0,0.7); text-align: center; color: #fff; padding: 10px; z-index: 100;
}

.button { text-decoration: none; display: inline-block; }
.button:link, .button:visited {color: white;}
.button:hover, .button:active {color: black; background:red; }


[class*='col-'] { float: left; padding: 15px; }
.col-1-1 { width: 100%; }
.col-1-2 { width: 50%; }
.col-1-3 { width: 33.33%; }
.col-1-4 { width: 25%; }
.col-1-6 { width: 16.66%; }
.col-1-8 { width: 12.5%; }
.col-2-3 { width: 66.66%; }
.col-3-4 { width: 75%; }

.row { width: 100%; display: table; table-layout: fixed; }
/* .row::after { content: ""; clear: both; display: table; } */

hr { height: 6px; border: none; background: rgba(0, 0, 0, 0.1);}
hr:last-child { margin-right: 60%;}
hr.image { padding-bottom: 50%;}
hr.button { width: 25px;height: 25px; content:'submit';}

.page{ margin:0 auto; width: 80%; }
.header{ font-size: 2em; padding: 20px 0px; color: white;}
.menu {}
.home {}
.content{}
.contact {}
.footer{ padding: 20px 0px; color: #ffffff; border-top: 5px solid black; margin:0 auto; }
/* .footer img{ height: 25px; width: 25px; fill:red;} */
.footer img svg { height: 25px; width: 25px; fill:red;}

.menu ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: black;}
.menu li { float: left;}
.menu li a { display: block; color: white; text-align: center; padding: 20px 20px; text-decoration: none;}
.menu li a:hover { background-image: linear-gradient(#353535, black);}

.artikel{ color: #000000; background: #ffffff; padding: 20px 30px; margin: 0;
font: normal 12px Georgia, "Times New Roman", Times, serif; line-height: 1.8em;}

.judul{ border-bottom: 15px solid #F4F4F4; background: #D5EAF5; font-size: 2em; line-height: 1em;}
.judul span{font-size: 0.5em; line-height: 0.1em; }
.judul{z-index: 99; height: 200px; position: relative; background-size: cover;}

.modal { display: block;position: fixed;z-index: 150;padding-top: 100px;left: 0;top: 0;width: 100%;
height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content { background-color: #fefefe; margin: auto; padding: 20px;border: 1px solid #888; width: 80%; }
.close { color: #aaaaaa; float: right; font-size: 28px; font-weight: bold;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer;}

.rect1 { width:8px; height:10px; }
.rect2 { width:10px; height:8px; }
/* .logok {fill: red ; } */
/* .ico {width:100%; height:auto;} */

.hide{ display: none}
.right{ float: right;}
.center{ text-align: center;}
.content{ background: #ffffff;}

.slider { text-align:center; width:80%; margin:0 auto; position:relative; overflow:hidden; box-shadow:2px 5px 10px rgba(0,0,0,0.4);}
.slider .prev, .slider .next{ position:absolute; top:50%; transform:translateY(-50%);
font-size:1.5em;padding:15px 10px; border-radius:5px;}
.slider .prev:hover, .slider .next:hover {background:white;transition:0.3s;}
.slider .dot{ display:inline-block; background:grey; padding:8px; border-radius:50%; margin:10px 5px;}
.slider .prev{ left:10px;}
.slider .next{ right:10px;}

.accordion { background-color: #eee; color: #444; cursor: pointer; padding: 18px;
width: 100%; border: none; text-align: left; outline: none; font-size: 15px; transition: 0.4s; }
.accordion .active, .accordion:hover {background-color: #ccc;}
.panel { padding: 0 18px; display: none; background-color: white; overflow: hidden;}


.container {  display: flex;  width: 100%;  margin-bottom: 15px;}


#ico { width: 25px;height: 25px; display: inline-block; fill: red ;}
#logo { width: 250px; height: 250px; display: inline-block; fill: white ;}
/* #logo { width: 100px; height: 100px; fill: white; display: block; margin-left: auto; margin-right: auto; } */


.ico-ktupad {
  content: ' ';
  background-image: url('../../images/ktupad-logo.svg');
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
}

#navbar { overflow: hidden; background-color: #f1f1f1; transition: 0.4s; position: fixed; top: 0; z-index: 120;
width: 100%; margin:0 auto; }

@media (max-width: 780px) {
/* #img { width: 100%; height:auto; float:none;} */
#sidebar { display: none}
#content { width: 100%; margin:0 auto; }
}

@media (max-width: 480px) {
#logo { width: 100%; height:auto; float:none;}
.page{ margin:0 auto; width: 100%; }
[class*='col-'] { width: 100%; display: table; table-layout: fixed; }
}
