.artikel{
padding: 20px 30px;
font: normal 12px Arial;
color: #000000;
line-height: 1.8em;
margin: 0;
}


.pesan {  color: red; padding: 5px 15px;
}

.pp {
   width: 10em;
   height: 10em;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 50%;
}

.pw {
  margin-top:50px;
   width: 100%;
   height: 40px;
}


.w20{
/* vertical-align: top; */
text-align: left;
width: 150px;
}

.max70{
  max-width:170px;
}

.topup{
padding: 15px 5px;
text-align: center;

}
.topup:hover {
  border: 1px solid grey;
}


.pw{ height: 40px; line-height: 40px; text-align: center;}
.pw i { display: inline-block; vertical-align: middle; line-height: normal;}


.svgImg {display: inline-block; vertical-align: middle; line-height: normal;}
.conta {  position: relative;  z-index: 1;  /* min-width: 150px; */
  max-width: 200px;
}

.contas {  position: relative; transition: .5s ease;}
.overlay {  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--pColor);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.conta:hover .overlay {
  height: 50px;
}
.contas:hover {
  height: 100%;
  background-color: var(--pLightColor);
  opacity: 0.5;
}

.btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dd content */
.dd {
  position: absolute;
  display: inline-block;
}

/* dd Content (Hidden by Default) */
.dd-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dd */
.dd-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dd links on hover */
.dd-content a:hover {background-color: #ddd}

/* Show the dd menu on hover */
.dd:hover .dd-content {
  display: block;
}

/* Change the background color of the dd button when the dd content is shown */
.btn:hover, .dd:hover .btn  {
  background-color: #0b7dda;
}

.btn .svgIco {
display:inline-block;
height: 15px;
width: 15px;
padding: 1px 1px;
min-width: 15px;
fill:white;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#355664;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top:22px;
}

/* ul li ul li .btn-h{background-color: red;} */
