:root {
--pColor:     #00738e;
--pLightColor:#4da2be;
--pDarkColor: #004761;
--pTextColor: #ffffff;

--pPage: #f2f2f2;
--red: red;
--yellow: yellow;
--green: green;
--blue: blue;
}

* { box-sizing: border-box; }
body {
font-size:16px;
font-weight: 400;
line-height: 1.7;
font-family: "MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif";
color: #fff;
background-color: #2e597b;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
width: 100%;
margin:0 auto;
padding: 60px 10px 10px 10px;
}
body { margin:0;padding: 0; }

input, textarea, label, select {display:inline-block; box-sizing:border-box;width:100%;padding:10px;border:1px solid #ccc; }
input[type=submit], button, input[type=button],.button { width:auto;
color:white; background:#072d3a; padding:12px 20px; border:none; border-radius:4px; cursor:pointer; margin:2px; }
label { border:none;}
input[type=radio]{width:auto; }

.rotate { box-shadow:2px 5px 10px rgba(0,0,0,0.4); }
.rotate:hover { transform: rotate(-4deg); transition: .1s linear;}

.zoom { box-shadow:2px 5px 10px rgba(0,0,0,0.4); }
.zoom:hover { transform: scale(1.03); transition: .5s linear;}

img {  height: 25px; width: 25px; width: 100%; height: auto; border-radius: 5px; }
a { display: block;   text-decoration: none;}


 .object-fit_fill { object-fit: fill }
 .object-fit_contain { object-fit: contain }
 .object-fit_cover { object-fit: cover }
 .object-fit_none { object-fit: none }
 .object-fit_scale-down { object-fit: scale-down }

 .img {width:100%; height:250px; background-position:center center;
 overflow:hidden; border:1px solid black; position: relative; background-size: cover;}

 .imageHolder { position: relative; width: 100%; height: auto; }
 .imageHolder .caption {
   position:absolute;
   bottom: 0; left: 0; right: 0;
  background: rgba(0,0,0,0.7); text-align: center; color: #fff; padding: 10px; z-index: 100;
}

.image-cover { width: 100%; height: 205px;  object-fit: cover; }


.button { text-decoration: none; display: inline-block; }
.button:link, .button:visited {color: white;}
.button:hover, .button:active {color: black; background:red; }

[class*='col-'] { float: left; padding: 15px; }
.col-1-1 { width: 100%; }
.col-1-2 { width: 50%; }
.col-1-3 { width: 33.33%; }
.col-1-4 { width: 25%; }
.col-1-6 { width: 16.66%; }
.col-1-8 { width: 12.5%; }
.col-2-3 { width: 66.66%; }
.col-3-4 { width: 75%; }

.row { width: 100%; display: table; table-layout: fixed; }
/* .row::after { content: ""; clear: both; display: table; } */

.table { overflow: auto; }
.table table { border-collapse:collapse; border-spacing:0; width:100%; color: #000; }
.table tr { background:#f8f8f8; }
.table tr:nth-child(even){ background:var(--pPage) }
.table th { height:37px; }
.table th,.table td { border:none; text-align:left; padding:8px; }


hr { height: 6px; border: none; background: rgba(0, 0, 0, 0.1);}
hr:last-child { margin-right: 60%;}
hr.image { padding-bottom: 50%;}
hr.button { width: 25px;height: 25px; content:'submit';}

.page{ margin:0 auto; width: 80%; }
.header{ font-size: 2em; padding: 20px 0px; color: white;}
.menu {}
.home {}
.content{}
.contact {}
.footer{ padding: 20px 0px; color: #ffffff; border-top: 5px solid black; margin:0 auto; }
/* .footer img{ height: 25px; width: 25px; fill:red;} */
.footer img svg { height: 25px; width: 25px; fill:red;}

.menu ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: black;}
.menu li { float: left;}
.menu li a { display: block; color: white; text-align: center; padding: 20px 20px; text-decoration: none;}
.menu li a:hover { background-image: linear-gradient(#353535, black);}
.menu .right {float:right; }

.artikel{ color: #000;
background: #fff; padding: 20px 30px; margin: 0;
font-size: 1.05em; line-height: 1.5em; }

.judul{ border-bottom: 15px solid #F4F4F4; background: #D5EAF5; font-size: 2em; line-height: 1em;}
.judul span{font-size: 0.5em; line-height: 0.1em; }
.judul{z-index: 99; height: 200px; position: relative; background-size: cover;}

.close { color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer;}

.rect1 { width:8px; height:10px; }
.rect2 { width:10px; height:8px; }
/* .logok {fill: red ; } */
/* .ico {width:100%; height:auto;} */

.hide{ display: none}
.right{ float: right;}
.center{ text-align: center;}
.content{ background: #ffffff;}

.slider { text-align:center; width:100%; margin:0 auto; position:relative; overflow:hidden; box-shadow:2px 5px 10px rgba(0,0,0,0.4);}
.slider .prev, .slider .next{ position:absolute; top:50%; transform:translateY(-50%);
  font-size:1.5em;padding:15px 10px; border-radius:5px;}
.slider .prev:hover, .slider .next:hover {background:white;transition:0.3s;}
.slider .dot{ display:inline-block; background:grey; padding:8px; border-radius:50%; margin:10px 5px;}
.slider .prev{ left:10px;}
.slider .next{ right:10px;}


.accordion { background-color: #eee; color: #444; cursor: pointer; padding: 18px;
width: 100%; border: none; text-align: left; outline: none; font-size: 15px; transition: 0.4s; }
.accordion .active, .accordion:hover {background-color: #ccc;}
.panel { padding: 0 18px; display: none; background-color: white; overflow: hidden;}

.container {  display: flex;  width: 100%;  margin-bottom: 15px;}

.author { display: flex; align-items: center; height: auto; margin-top: 10px;}
.judul .author { font-size: 0.5em; line-height: 1em;}
.author img { margin-right: 10px; width: 35px;  height: 35px;  object-fit: cover;  border-radius: 50%;}

.toast { min-width:250px; position:fixed;   bottom:30px; left:50%; margin-left:-125px;
  text-align:center; padding:16px; z-index:999; background-color: black;}

#ico { width: 25px;height: 25px; display: inline-block; fill: red ;}
#logo { width: 250px; height: 250px; display: inline-block; fill: white ;}
/* #logo { width: 100px; height: 100px; fill: white; display: block; margin-left: auto; margin-right: auto; } */

#navbar, .topbar { overflow: hidden; background-color: #f1f1f1; transition: 0.4s; position: fixed; top: 0; z-index: 120;
width: 100%; margin:0 auto; }


.cred{color: red;}
.cpurple{color: purple;}
.cgreen{color: green;}
.cyellow{color: yellow;}
.cbrown{color: brown;}
.caqua{color:aqua;}
.code{color:white;background-color:#272C34; border-left: 3px solid red; padding:20px 0 20px 30px}


.icon-bar {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {  background-color: #000;}
.facebook {  background: #3B5998;  color: white;}
.twitter {  background: #55ACEE;  color: white;}
.google {  background: #dd4b39;  color: white;}
.linkedin {  background: #007bb5;  color: white;}
.youtube {  background: #bb0000;  color: white;}

.image-cover { width: 100%; height: 205px;  object-fit: cover; }
.judul .author{font-size: 1em; line-height: 1em; }
.judul .author img { width: 150px; height: 150px;}
#navbar .author {color:black;}
#judul .circles { margin:0; z-index: -99;}

.author h1{font-size: 2em; line-height: 0.8em;margin: 0;}

@media (max-width: 780px) {
 #sidebar { display: none;}
 #content { width: 100%; margin:0 auto; }
 [class*='col-'] { width: 50%; display: table; table-layout: fixed; }

}

@media (max-width: 480px) {
.icon-bar {
  position: relative;
   top:initial;
   bottom: 0;
   width: 100%;
   margin:0 auto;
   text-align: center;
}
.icon-bar a {float: left;}
.author {  display: block; text-align: center;}
.button { width: 100%; float: none;}
#logo { width: 100%; height:auto; float:none;}
.page{ margin:0 auto; width: 100%; }
[class*='col-'] { width: 100%; display: table; table-layout: fixed; }
}
